<div class="checkout-page">

  <form class="form-horizontal reservation-form"
        #f="ngForm"
        (ngSubmit)="onSubmit()"
  >
  <section class="reservation container">


    <div class="row">
      <div class="box col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
        Make a reservation
      </div>
    </div>

  </section>
  <section class="reservation-box">
    <div class="row">
      <div class="box col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
        <div class="title">Quai des Célestins II, Le Marais Paris</div>
        <div class="booking_reference">
          Booking Reference: 26384F20
        </div>
        <div class="date">
          Tue 8 Aug 2017 — Fri 11 Aug 2017
        </div>
        <div class="features">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">

              <div class="feature col-sm-4"><img src="/assets/images/checkout_icons/users.png" > 2-4</div>
              <div class="feature col-sm-4"><img src="/assets/images/checkout_icons/bed.png" > 1</div>
              <div class="feature col-sm-4"><img src="/assets/images/checkout_icons/bathrooom.png" > 2</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="blue-background ">
  <div class="container-fluid">
    <div class="centeredOverlay" *ngIf ='displayPopup' (click)="displayPopup = false">
      <div class="popup-payment">
        <span>Your booking has been confirmed and<br>
          you'll receive a notification by email soon
        </span>
      </div>
    </div>
    <div *ngIf ='step === 1'>
      <section class="payment-details">
        <div class="row form-top">
          <div class="box col-xs-12 col-sm-12 col-md-12">
            <h2 class="title">
              Your details
            </h2>
            <div class="title-small">Please enter your contact details or <a href="javascript:void(0)">login with an existing account to make your reservation.</a></div>
          </div>
        </div>
        <div class="row">
          <div class="box  col-sm-12 col-md-12">
            <div class="row form-top">
              <div class="input-group">
                <div class="col-sm-12 col-md-4">
                  <label>Full name</label>
                  <input type="text" class="form-control input-md input__fa input__fa_person" placeholder="Enter your full name" name="full_name">
                </div>
                <div class="col-xs-12 col-md-4">
                  <label>Email</label>
                  <input type="text" class="form-control input-md input__fa input__fa_mail" placeholder="Enter your email" name="email">
                </div>
                <div class="col-xs-12 col-md-4">
                  <label>Phone number</label>
                  <div>
                    <input type="text" class="form-control form-control_first" disabled="disabled" value="+1">
                    <input type="text" class="form-control form-control_second input__fa input__fa_phone" placeholder="Enter your phone number" name="phone_number">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="call">
        <div class="row form-top">

          <div class="col-sm-12 col-md-6 col-md-offset-3">
            By proceeding, I confirm I am over 25 and agree to onefinestay's <a href="javascript:void(0)">accommodation</a>,<br>
            <a href="javascript:void(0)">guest services</a>, <a href="javascript:void(0)">club</a>, <a href="javascript:void(0)">guest reservations</a> and <a href="javascript:void(0)">cancellation</a> agreements.
          </div>
          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <button (click)="stepGo(2);" label="NEXT" pbutton="" ng-reflect-label="NEXT" class="make_reservation ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text ui-c">NEXT</span></button>

          </div>
        </div>
      </section>
    </div>
    <div *ngIf ='step === 2'>
      <section class="payment-details">
        <div class="row form-top">
          <div class="box col-xs-12 col-sm-12 col-md-12">
            <h2 class="title">
              Stay details
            </h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 just_text">
            <h3>This booking is subject to availability</h3>
            <p>
              The homeowner will have 24 hours to confirm their home is available for you to stay. When the homeowner confirms your booking you'll receive a confirmation email. <br> If the home is unavailable, we'll be in touch to help you find a great alternative.
            </p>
            <h3>Wellcome to the club</h3>
            <p>
              Booking with StayBeyond means being part of a new era of hospitality. Like you, StayBeyond homeowners believe there's a better way to experience <br> a city. They trust us to provide handmade hospitality in their homes, and our guests agree to honour five simple club rules:
            </p>
            <h3>Treat others' homes as you would have them treat yours.</h3>
            <h3>If accidents happen, be the first to let us know.</h3>
            <h3>Be discreet and keep homeowners' names and addresses private.</h3>
            <h3>Respect the house rules and ensure that others do too</h3>
            <h3>Be considerate of your neighbours - and no parties.</h3>
          </div>
        </div>
      </section>
      <section class="call">
        <div class="row form-top">

          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <a href="javascript:void(0)">Have a promotional code or been referred by a friend?</a><br>
            By proceeding, I confirm that I have read and understand this home's <a href="javascript:void(0)">home truths</a>
          </div>
          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <button (click)="stepGo(3);" label="NEXT" pbutton="" ng-reflect-label="NEXT" class="make_reservation ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text ui-c">NEXT</span></button>

          </div>
        </div>
      </section>
    </div>
    <div *ngIf ='step === 3'>
      <section class="payment-details">
        <div class="row form-top">
          <div class="box col-xs-12 col-sm-12 col-md-12">
            <h2 class="title">
              Your payment details
            </h2>
            <div class="title-small">Please enter your billing address</div>
          </div>
        </div>
        <div class="row">
          <div class="box  col-sm-12 col-md-12">
            <div class="row form-top">
            <div class="input-group">
              <div class="col-sm-12 col-md-4">
                <label>Address line 1</label>
                <input type="text" class="form-control input-md" placeholder="12" name="address_line_1">
              </div>
              <div class="col-xs-12 col-md-4">
                <label>Address line 2</label>
                <input type="text" class="form-control input-md" placeholder="Wimbolt Street" name="address_line_2">

              </div>
              <div class="col-xs-12 col-md-4">
                <label>City/Town</label>
                <input type="text" class="form-control" placeholder="London" name="city">
              </div>
            </div>
            </div>
            <div class="row  form-top">
            <div class=" input-group">

              <div class="col-xs-12 col-md-4">
                <label>State/County</label>
                <input type="text" class="form-control input-md" placeholder="12" name="state">
              </div>
              <div class="col-xs-12 col-md-4">
                <label>Zip/PostCode</label>
                <input type="text" class="form-control input-md" placeholder="E2 78X" name="zip">

              </div>
              <div class="col-xs-12 col-md-4">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Great Britain">
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>
      <section class="payment-icons">
        <div class="row form-top">
          <div class="box col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="payment-icon-wrap col-sm-4"><img src="/assets/images/checkout_icons/visa.png" class="payment-icon"/></div>
            <div class="payment-icon-wrap col-sm-4"><img src="/assets/images/checkout_icons/mastercard.png" class="payment-icon"/></div>
            <div class="payment-icon-wrap col-sm-4"><img src="/assets/images/checkout_icons/american express.png" class="payment-icon"/></div>
          </div>
        </div>
      </section>
      <section class="card-info">
        <div class="row form-top">
          <div class="col-sm-12 col-md-12">

            <div class="col-xs-12 col-md-6">
              <label>Card Number</label>
              <input type="text" placeholder="-" class="form-control input-md" name="card_number"/>
            </div>
            <div class="col-xs-12 col-md-6">
              <label>Card Holder Name</label>
              <input type="text" placeholder="-" class="form-control input-md" name="card_holder"/>
            </div>
          </div>
        </div>
        <div class="row form-top">
          <div class="col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6">
            <label>Card Expiry Date</label>
            <div class="input-group date-entry">
              <div class="row">

                <div class="col-sm-6">

                  <input type="text" placeholder="-" class="form-control input-sm" name="card_number"/>
                </div>
                <div class="col-sm-1">
                  /
                </div>
                <div class="col-sm-5">
                  <input type="text" placeholder="-" class="form-control input-sm" name="card_number"/>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <label>Card Holder Name</label>
            <input type="text" placeholder="-" class="form-control input-md" name="card_holder"/>
          </div>
          </div>
        </div>
      </section>
      <section class="call">
        <div class="row form-top">

          <div class="col-sm-12 col-md-6 col-md-offset-3">
            Don't have one of these? Call us on <a href="tel:+44207523">+44 207 523</a> or<br>
            request a call back to arrange an alternative method payment.
          </div>
          <div class="col-sm-12 col-md-6 col-md-offset-3">
            <button label="MAKE A RESERVATION" pbutton="" ng-reflect-label="MAKE A RESERVATION" class="make_reservation ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text ui-c">MAKE A RESERVATION</span></button>

          </div>
        </div>
      </section>
    </div>
  </div>
  </div>
  </form>
</div>
