<div class="about-page">

  <section class="first-section">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="image-wrapper">
          <img src="assets/images/aimage1.png" alt="">
          <div class="title-container">
            <h1>About us</h1>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="second-section container-fluid">

    <div class="row rel">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6">
        <img src="assets/images/aimage2.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right-column-abs">
        <h1>
          Our story
        </h1>

        <p>
          StayBeyond was born from the simple idea of bringing families together in beautiful handpicked homes across the UK.<br/><br/>We want our guests to enjoy special moments in our bespoke holiday rentals without compromising on the creature comforts that come with a hotel stay...
        </p>
      </div>
    </div>

  </section>

  <section class="third-section container-fluid">

    <div class="row rel">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mobile-img">
        <img src="assets/images/aimage3.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6 right-column-abs">
        <h1>
          Family time needs a family home
        </h1>

        <p>
          We wanted to create an experience the whole family can be part of: the freedom to have breakfast together in your pyjamas, cosy nights spent in front of the fire, and drinks in the garden while the children play on the lawn.<br/><br/>
          In just a few years, StayBeyond has grown from managing just a handful of properties in London, to a fast growing business transforming how people travel.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 desktop-img">
        <img src="assets/images/aimage3.png" alt="">
      </div>
    </div>

  </section>

</div>
