<div class="city-page">

    <section class="first-section container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="image-wrapper">
                    <img src="assets/images/cimage1.png" alt="">
                </div>
            </div>
        </div>

        <div class="inside-image-container">
            <h1>Cambridge</h1>
            <p>The country's most beautiful historic city surrounded by green spaces and home to the university of Cambridge's world-famous colleges.</p>
        </div>

        <div class="search-container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 col-padding">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"></p-dropdown>
                    <span class="custom-input-group-icon"><img src="assets/images/icons/icon1.png"></span>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-padding">
                    <p-calendar [(ngModel)]="checkinDate" placeholder="Check In"></p-calendar>
                    <span class="custom-input-group-icon"><img src="assets/images/icons/icon23.png"></span>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-padding">
                    <p-calendar [(ngModel)]="checkoutDate" placeholder="Check Out"></p-calendar>
                    <span class="custom-input-group-icon"><img src="assets/images/icons/icon23.png"></span>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-padding">
                    <input type="text" pInputText [(ngModel)]="guestNumber" placeholder="Guests"/>
                    <span class="custom-input-group-icon"><img src="assets/images/icons/icon4.png"></span>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-padding">
                    <button pButton type="button" label="SEARCH HOMES"></button>
                </div>
            </div>
        </div>

    </section>

    <div class="spacer"></div>

    <section class="second-section container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6">
                <h1 class="show-title">
                    Historic and charming
                </h1>
                <img src="assets/images/cimage2.png" alt="">
                <span class="tiny-title">
                BRIDGE OF SIGHS
          </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right-column-abs">
                <h1 class="hide-title">
                    Historic and charming
                </h1>

                <p>
                    Abounding with exquisite architecture, exuding history and tradition and renowned for its quirky rituals, Cambridge is a university town extraordinaire. The tightly packed core of ancient colleges, the picturesque riverside 'Backs' and the leafy green meadows surrounding the city give it a more tranquil appeal than its historic rival Oxford.
                </p>
            </div>
        </div>

    </section>

    <div class="spacer"></div>

    <section class="third-section">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>
                    Homes in Cambridge
                </h1>
            </div>
        </div>

        <div class="slide-wrapper">


            <div id="homepage-feature" class="carousel slide">

                <div class="carousel-inner">

                    <div *ngFor="let slide of sliderImages; let i = index" style=""  [ngClass]="slide.Status"><!--[ngClass]="slide.Status">-->

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: hidden">
                            <div class="image-cont">
                                <img src="{{imageLocation + sliderImages[i-1>=0?i-1:sliderImages.length-1].Image}}" style="max-width: 100%;">
                            </div>

                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: hidden">
                            <div class="image-cont">
                                <img src="{{imageLocation + sliderImages[i].Image}}" style="max-width: 100%;">
                            </div>

                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="overflow: hidden">
                            <div class="image-cont">
                                <img src="{{imageLocation + sliderImages[i+1<=sliderImages.length-1?i+1:0].Image}}" style="max-width: 100%;">
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dots-abs">

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 spc-num">
                            <a class="arrow-icon arrow-icons-b" href="#homepage-feature" data-slide="prev">
                                <img src="assets/images/arrow_left.jpg">
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 spc-num">
                            <ol class="carousel-indicators">
                                <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
                                <li data-target="#homepage-feature" data-slide-to="1"></li>
                                <li data-target="#homepage-feature" data-slide-to="2"></li>
                            </ol>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 spc-num">
                            <a class="arrow-icon arrow-icons-f" href="#homepage-feature" data-slide="next">
                                <img src="assets/images/arrow_right.jpg">
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <section class="fourth-section">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>
                    The local area
                </h1>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="sec-container">
                    <img src="assets/images/icons/train.jpg">

                    <span class="tiny-title">
                        WELL CONNECTED
                    </span>

                    <p>Cambridge has two railway stations with 46 connections</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="sec-container">
                    <img src="assets/images/icons/green.jpg">

                    <span class="tiny-title">
                        GREEN SPACES
                    </span>

                    <p>Escape the noise and enjoy scenic walks in numberous parks</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="sec-container">
                    <img src="assets/images/icons/charming.jpg">

                    <span class="tiny-title">
                        CHARMING CAFÉS
                    </span>

                    <p>Enjoy the vibrant atmosphere in cosy coffee houses around town</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="sec-container">
                    <img src="assets/images/icons/historic.jpg">

                    <span class="tiny-title">
                        HISTORIC SITES
                    </span>

                    <p>Travel back in time as the buildings here seem unchanged for centuries</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="sec-container">
                    <img src="assets/images/icons/botanical.jpg">

                    <span class="tiny-title">
                        BOTANICAL GARDENS
                    </span>

                    <p>Enjoy a quiet afternoon out in the beautiful Botanical Gardens of Cambridge University</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="sec-container">
                    <img src="assets/images/icons/charming.jpg">

                    <span class="tiny-title">
                        PUNTING TOURS
                    </span>

                    <p>Take some food and drinks and spend the day on the river with some friends</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fifth-section container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <span class="tiny-title">LATEST BLOG ARTICLE</span>
                <div class="image-hidden"><img src="assets/images/cimage3.png" alt=""></div>
                <h1>
                    The hidden gems of Britain's most visited univeristy town
                </h1>

                <p>
                    Abounding with exquisite architecture, exuding history and tradition and renowned for its quirky rituals, Cambridge is a university town extraordinaire. The tightly packed core of ancient colleges, the picturesque riverside...
                </p>
                <span class="tiny-title-2">READ BLOG <img src="assets/images/arrow_right.jpg" alt=""></span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="image-shown"><img src="assets/images/cimage3.png" alt=""></div>
            </div>
        </div>

    </section>

    <div class="spacer"></div>

    <section class="sixth-section container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="left-sec">
                    <h1>25</h1>
                    <span class="tiny-title">PROPERTIES<br/>IN CAMBRIDGE</span>
                    <div class="right-sec">VIEW ALL <img src="assets/images/arrow_right.jpg" alt=""></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="assets/images/image1.jpg">
                <span class="section-title">SECLUDED FAMILY TOWNHOUSE</span>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="section-icon"><img src="assets/images/icons/icon8.png"></span><h4>5</h4>
                        <span class="section-icon"><img src="assets/images/icons/icon6.png"></span><h4>2</h4>
                        <span class="section-icon"><img src="assets/images/icons/icon7.png"></span><h4>2</h4>
                    </div>
                </div>
                <h5>£216</h5><h6>/night</h6>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="assets/images/image2.jpg">
                <span class="section-title">RIVERSIDE APARTMENT</span>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="section-icon"><img src="assets/images/icons/icon8.png"></span><h4>5</h4>
                        <span class="section-icon"><img src="assets/images/icons/icon6.png"></span><h4>2</h4>
                        <span class="section-icon"><img src="assets/images/icons/icon7.png"></span><h4>2</h4>
                    </div>
                </div>
                <h5>£159</h5><h6>/night</h6>
            </div>
        </div>
    </section>

</div>
